.10_190 { 
	overflow:hidden;
}.e10_190 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e10_262 { 
	width:1006px;
	height:499px;
	position:absolute;
	left:-134px;
	top:286px;
	background-image:url(images/signup.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_238 { 
	width:672px;
	height:745px;
	position:absolute;
	left:725px;
	top:194px;
}.e10_239 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 0.23000000417232513);
	width:672px;
	height:745px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:32px;
	border-top-right-radius:32px;
	border-bottom-left-radius:32px;
	border-bottom-right-radius:32px;
}.e10_251 { 
	width:376.6153869628906px;
	height:87.13845825195312px;
	position:absolute;
	left:148px;
	top:586px;
}.e10_244 { 
	background-color:rgba(81.59999817609787, 81.59999817609787, 81.59999817609787, 1);
	width:376.6153869628906px;
	height:87.13845825195312px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e10_245 { 
	color:rgba(255, 255, 255, 1);
	width:236.3076934814453px;
	height:42.83076858520508px;
	position:absolute;
	left:69.41543579101562px;
	top:22.15403938293457px;
	font-family:Karla;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
	line-height:px;
}.e10_246 { 
	color:rgba(50.000000819563866, 64.00000378489494, 59.00000028312206, 1);
	width:314.5846252441406px;
	height:28.061538696289062px;
	position:absolute;
	left:179.01544189453125px;
	top:689.384765625px;
	font-family:Karla;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e10_263 { 
	width:553.8461303710938px;
	height:81.23076629638672px;
	position:absolute;
	left:59px;
	top:453px;
}.e10_264 { 
	background-color:rgba(255, 255, 255, 1);
	width:553.8461303710938px;
	height:81.23076629638672px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.10_264 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10_265 { 
	color:rgba(0, 0, 0, 0.5);
	width:230px;
	height:19px;
	position:absolute;
	left:161px;
	top:31px;
	font-family:Karla;
	text-align:center;
	font-size:23.010000228881836px;
	letter-spacing:0;
	line-height:px;
}.e10_250 { 
	width:553.8461303710938px;
	height:81.23076629638672px;
	position:absolute;
	left:57.59999084472656px;
	top:348.5537414550781px;
}.e10_243 { 
	background-color:rgba(255, 255, 255, 1);
	width:553.8461303710938px;
	height:81.23076629638672px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.10_243 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10_248 { 
	color:rgba(0, 0, 0, 0.5);
	width:145px;
	height:19px;
	position:absolute;
	left:204.4000244140625px;
	top:23.4462890625px;
	font-family:Karla;
	text-align:center;
	font-size:23.010000228881836px;
	letter-spacing:0;
	line-height:px;
}.e10_249 { 
	width:553.8461303710938px;
	height:81.23076629638672px;
	position:absolute;
	left:57.59999084472656px;
	top:245.1692352294922px;
}.e10_242 { 
	background-color:rgba(255, 255, 255, 1);
	width:553.8461303710938px;
	height:81.23076629638672px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.10_242 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10_247 { 
	color:rgba(0, 0, 0, 0.5);
	width:177px;
	height:19px;
	position:absolute;
	left:188.4000244140625px;
	top:29.830810546875px;
	font-family:Karla;
	text-align:center;
	font-size:23.010000228881836px;
	letter-spacing:0;
	line-height:px;
}.e10_261 { 
	width:160.04457092285156px;
	height:57.091922760009766px;
	position:absolute;
	left:364.54595947265625px;
	top:134.7743682861328px;
}.e10_256 { 
	background-color:rgba(81.59999817609787, 81.59999817609787, 81.59999817609787, 1);
	width:160.04457092285156px;
	height:57.091922760009766px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e10_259 { 
	color:rgba(255, 255, 255, 1);
	width:105.76044464111328px;
	height:29.013927459716797px;
	position:absolute;
	left:27.14206314086914px;
	top:18.7186222076416px;
	font-family:Karla;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
	line-height:px;
}.e10_260 { 
	width:160.98049926757812px;
	height:57.091922760009766px;
	position:absolute;
	left:147.4094696044922px;
	top:134.7743682861328px;
}.e10_255 { 
	background-color:rgba(81.59999817609787, 81.59999817609787, 81.59999817609787, 1);
	width:160.98049926757812px;
	height:57.091922760009766px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:15px;
}.e10_258 { 
	color:rgba(255, 255, 255, 1);
	width:115.1197738647461px;
	height:22.46239471435547px;
	position:absolute;
	left:22.46238136291504px;
	top:16.846755981445312px;
	font-family:Karla;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
	line-height:px;
}.e10_240 { 
	color:rgba(33.00000183284283, 43.00000123679638, 39.00000147521496, 1);
	width:465.23077392578125px;
	height:69.4153823852539px;
	position:absolute;
	left:103.3846206665039px;
	top:64.98463439941406px;
	font-family:Karla;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:px;
}.e10_217 { 
	width:1354.8182373046875px;
	height:55px;
	position:absolute;
	left:46px;
	top:41px;
}.e10_218 { 
	width:27.81818199157715px;
	height:27.81818199157715px;
	position:absolute;
	left:1327px;
	top:20.181793212890625px;
}.e10_219 { 
	width:27.81818199157715px;
	height:27.81818199157715px;
	position:absolute;
	left:0px;
	top:0px;
}.e10_220 { 
	background-color:rgba(19.0000007674098, 18.000000827014446, 18.000000827014446, 1);
	width:20.86363410949707px;
	height:24.340904235839844px;
	position:absolute;
	left:3.4772543907165527px;
	top:1.1590930223464966px;
}.e10_221 { 
	width:657px;
	height:28px;
	position:absolute;
	left:521px;
	top:27px;
}.e10_222 { 
	color:rgba(0, 0, 0, 1);
	width:67px;
	height:21px;
	position:absolute;
	left:590px;
	top:0px;
	font-family:Rubik;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e10_223 { 
	color:rgba(0, 0, 0, 1);
	width:67px;
	height:21px;
	position:absolute;
	left:445px;
	top:0px;
	font-family:Rubik;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e10_224 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:28px;
	position:absolute;
	left:297px;
	top:0px;
	font-family:Rubik;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e10_225 { 
	color:rgba(0, 0, 0, 1);
	width:55px;
	height:28px;
	position:absolute;
	left:158px;
	top:0px;
	font-family:Rubik;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e10_226 { 
	color:rgba(0, 0, 0, 1);
	width:81px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Rubik;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e10_227 { 
	width:357px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
}.e10_228 { 
	color:rgba(0, 0, 0, 1);
	width:357px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Times New Roman;
	text-align:left;
	font-size:48px;
	letter-spacing:10;
}