.13_414 { 
	overflow:hidden;
}.e13_414 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e13_437 { 
	background-color:rgba(255, 255, 255, 1);
	width:807px;
	height:122px;
	position:absolute;
	left:316.5019226074219px;
	top:193px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e13_438 { 
	width:759px;
	height:74px;
	position:absolute;
	left:24px;
	top:24px;
}.e13_439 { 
	background-color:rgba(242.40495264530182, 244.12413239479065, 247.56250709295273, 1);
	width:642.0038452148438px;
	height:73px;
	position:absolute;
	left:0px;
	top:0.5px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}.ei13_439_5_199 { 
	width:24.003826141357422px;
	height:25px;
	position:absolute;
	left:24px;
	top:24px;
}.ei13_439_5_199_5_202 { 
	background-color:rgba(0, 0, 0, 1);
	width:23.484352111816406px;
	height:24.479717254638672px;
	position:absolute;
	left:0px;
	top:0px;
}.ei13_439_5_199_5_203 { 
	border-radius:500px;
	width:19.548330307006836px;
	height:19.605117797851562px;
	position:absolute;
	left:0px;
	top:0px;
}.i13_439_5_199_5_203 { 
	border:3px solid rgba(0, 0, 0, 1);
}.ei13_439_5_199_5_204 { 
	transform: rotate(45.198724530833594deg);
	width:11.014504432678223px;
	height:0px;
	position:absolute;
	left:13.609030723571777px;
	top:16.66431999206543px;
}.i13_439_5_199_5_204 { 
	border:3px solid rgba(0, 0, 0, 1);
}.ei13_439_5_200 { 
	color:rgba(0, 0, 0, 1);
	width:560px;
	height:25px;
	position:absolute;
	left:58.00382614135742px;
	top:24px;
	font-family:NTR;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}.e13_440 { 
	background-color:rgba(0, 0, 0, 1);
	width:101px;
	height:74px;
	position:absolute;
	left:658.0038452148438px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}.ei13_440_5_211 { 
	color:rgba(255, 255, 255, 1);
	width:53px;
	height:26px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:NTR;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}.e13_441 { 
	width:1354.8182373046875px;
	height:55px;
	position:absolute;
	left:46px;
	top:41.00001525878906px;
}.e13_442 { 
	width:27.81818199157715px;
	height:27.81818199157715px;
	position:absolute;
	left:1327px;
	top:20.181793212890625px;
}.e13_443 { 
	width:27.81818199157715px;
	height:27.81818199157715px;
	position:absolute;
	left:0px;
	top:0px;
}.e13_444 { 
	background-color:rgba(19.0000007674098, 18.000000827014446, 18.000000827014446, 1);
	width:20.86363410949707px;
	height:24.340904235839844px;
	position:absolute;
	left:3.4772543907165527px;
	top:1.1590930223464966px;
}.e13_445 { 
	width:657px;
	height:28px;
	position:absolute;
	left:521px;
	top:27px;
}.e13_446 { 
	color:rgba(0, 0, 0, 1);
	width:67px;
	height:21px;
	position:absolute;
	left:590px;
	top:0px;
	font-family:Rubik;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e13_447 { 
	color:rgba(0, 0, 0, 1);
	width:67px;
	height:21px;
	position:absolute;
	left:445px;
	top:0px;
	font-family:Rubik;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e13_448 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:28px;
	position:absolute;
	left:297px;
	top:0px;
	font-family:Rubik;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e13_449 { 
	color:rgba(0, 0, 0, 1);
	width:55px;
	height:28px;
	position:absolute;
	left:158px;
	top:0px;
	font-family:Rubik;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e13_450 { 
	color:rgba(0, 0, 0, 1);
	width:81px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Rubik;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e13_451 { 
	width:357px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
}.e13_452 { 
	color:rgba(0, 0, 0, 1);
	width:357px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Times New Roman;
	text-align:left;
	font-size:48px;
	letter-spacing:10;
}.e13_514 { 
	width:250px;
	height:350px;
	position:absolute;
	left:122px;
	top:561px;
}.ei13_514_13_505 { 
	background-color:rgba(255, 250.75000405311584, 250.75000405311584, 1);
	width:250px;
	height:350px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.ei13_514_13_506 { 
	width:250px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-image:url(images/item1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei13_514_13_507 { 
	width:47px;
	height:28px;
	position:absolute;
	left:10px;
	top:255px;
}.ei13_514_13_507_19_415 { 
	color:rgba(0, 0, 0, 1);
	width:221px;
	height:42px;
	position:absolute;
	left:6px;
	top:0px;
	font-family:Work Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:-2;
}.ei13_514_13_508 { 
	width:47px;
	height:28px;
	position:absolute;
	left:176px;
	top:309px;
}.ei13_514_13_508_19_419 { 
	color:rgba(253.93750101327896, 0, 0, 1);
	width:111px;
	height:28px;
	position:absolute;
	left:-64px;
	top:0px;
	font-family:Work Sans;
	text-align:right;
	font-size:24px;
	letter-spacing:-2;
}.e13_515 { 
	width:250px;
	height:350px;
	position:absolute;
	left:455px;
	top:561px;
}.ei13_515_13_505 { 
	background-color:rgba(255, 250.75000405311584, 250.75000405311584, 1);
	width:250px;
	height:350px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.ei13_515_13_506 { 
	width:250px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-image:url(images/item2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei13_515_13_507 { 
	width:47px;
	height:28px;
	position:absolute;
	left:10px;
	top:255px;
}.ei13_515_13_507_19_415 { 
	color:rgba(0, 0, 0, 1);
	width:197px;
	height:42px;
	position:absolute;
	left:6px;
	top:0px;
	font-family:Work Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:-2;
}.ei13_515_13_508 { 
	width:47px;
	height:28px;
	position:absolute;
	left:176px;
	top:309px;
}.ei13_515_13_508_19_419 { 
	color:rgba(253.93750101327896, 0, 0, 1);
	width:92px;
	height:28px;
	position:absolute;
	left:-45px;
	top:0px;
	font-family:Work Sans;
	text-align:right;
	font-size:24px;
	letter-spacing:-2;
}.e13_516 { 
	width:250px;
	height:350px;
	position:absolute;
	left:789px;
	top:561px;
}.ei13_516_13_505 { 
	background-color:rgba(255, 250.75000405311584, 250.75000405311584, 1);
	width:250px;
	height:350px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.ei13_516_13_506 { 
	width:250px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-image:url(images/item3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei13_516_13_507 { 
	width:47px;
	height:28px;
	position:absolute;
	left:10px;
	top:255px;
}.ei13_516_13_507_19_415 { 
	color:rgba(0, 0, 0, 1);
	width:204px;
	height:21px;
	position:absolute;
	left:6px;
	top:0px;
	font-family:Work Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:-2;
}.ei13_516_13_508 { 
	width:47px;
	height:28px;
	position:absolute;
	left:176px;
	top:309px;
}.ei13_516_13_508_19_419 { 
	color:rgba(253.93750101327896, 0, 0, 1);
	width:92px;
	height:28px;
	position:absolute;
	left:-45px;
	top:0px;
	font-family:Work Sans;
	text-align:right;
	font-size:24px;
	letter-spacing:-2;
}.e13_517 { 
	width:250px;
	height:350px;
	position:absolute;
	left:1134px;
	top:561px;
}.ei13_517_13_505 { 
	background-color:rgba(255, 250.75000405311584, 250.75000405311584, 1);
	width:250px;
	height:350px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.ei13_517_13_506 { 
	width:250px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-image:url(images/item4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei13_517_13_507 { 
	width:47px;
	height:28px;
	position:absolute;
	left:10px;
	top:255px;
}.ei13_517_13_507_19_415 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:42px;
	position:absolute;
	left:6px;
	top:0px;
	font-family:Work Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:-2;
}.ei13_517_13_508 { 
	width:47px;
	height:28px;
	position:absolute;
	left:176px;
	top:309px;
}.ei13_517_13_508_19_419 { 
	color:rgba(253.93750101327896, 0, 0, 1);
	width:111px;
	height:28px;
	position:absolute;
	left:-64px;
	top:0px;
	font-family:Work Sans;
	text-align:right;
	font-size:24px;
	letter-spacing:-2;
}.e13_518 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:28px;
	position:absolute;
	left:122px;
	top:420px;
	font-family:Work Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:-2;
}